
.hidden { 
  display: none; 
}

.body {
  background-color: #051659;
  text-align: center;
  color: white
}

#quiz-form {
  column-count: 3;
}

.left {
  float: left;
}

#score-div, #all-user-scores {
  text-align: center;
  font-weight: bold;
}

#quiz-results-ul, #all-user-scores {
  list-style: none;
}

#wordbank-div {
  column-count: 6;
}



